/* Write your code here. */
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-url {
  height: 450px;
  width: 75%;
  margin-left: 60px;
  margin-top: 30px;
}

.title {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 25px;
}

.container {
  margin-left: 60px;
}

.list-container {
  list-style-type: none;
  display: flex;
}
